build/
cmake-build-*/

.vs/
*.user
*.user.*

*.o
*.obj
*.a
*.lib
*.dll
*.dll.a
*.exe
*.exp
*.pdb

*.db
*.sqlite
*.sqlite3

.cache/
.qt/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

*.autosave